:root {
  --orange: orange;
  --fafafa: #fafafa;
  --orange-red: orangered;
  --red: #e21121;
  --bright-blue: #007bff;
  --white: white;
  --trench-blue: #1A3C5B;
  --slate-gray: lightslategray;
  --graphite: #506578;
  --rosy: #e96c85;
  --navbar-black: #343a40;
}

.gray {
  color: lightslategray;
}

.bright-blue {
  color: var(--bright-blue);
}

.pointer {
  cursor: pointer;
}

.form-group input {
  display: inline;
  text-align: center;
}

body {
  font-family: 'Open Sans', Arial, sans-serif !important;
}

h1 {
  color: var(--heading1);
}

.form-group #digby-roll,
.form-group #digby-total,
.form-group #zena-roll,
.form-group #zena-total,
.form-group #phillipa-roll,
.form-group #phillipa-total,
.form-group #weary-roll,
.form-group #weary-total,
.form-group #linnea-roll,
.form-group #linnea-total,
.form-group #monster-roll,
.form-group #monster-total,
.form-group #raz-roll,
.form-group #raz-total {
  font-size: 1.8rem;
  padding-left: 1rem;
}

span[id*="-total"] {
  font-weight: bold;
  color: red;
}

#randomized-list .list-group-item {
  font-size: 2rem;
}

.bg-mistyrose {
  background: mistyrose;
}

.red {
  color: orangered;
}

.white {
  color: var(--white);
}

.player-name {
  padding: 1rem;
  background: white;
}

.navbar-dark a,
.navbar-dark i,
.navbar-dark h1 {
  color: var(--graphite) !important;
}

.navbar-brand {
  font-family: 'MedievalSharp', cursive;
}

.navbar-brand,
.navbar-brand a {
  font-size: 2rem !important;
}

.bg-dark {
  background: var(--navbar-black)
}

.top-subnav {
  padding-top: .25rem !important;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background: rgba(255,255,255,.4);
  z-index: 1000 !important;
}

.top-subnav .list-group-item {
  background: transparent;
  cursor: pointer;
  border: none;
}

/* Tooltips ----------------------------------------------- */
.tooltip .tooltip-inner {
  background-color: var(--slate-gray);
  font-size: .85rem;
  padding: .35rem;
  color: var(--white);
}

.tooltip.bs-tooltip-right .arrow:before {
    /* border-right-color: #00cc00 !important; */
    display: none;
}
.tooltip.bs-tooltip-left .arrow:before {
    /* border-left-color: #00cc00 !important; */
    display: none;
}
.tooltip.bs-tooltip-bottom .arrow:before {
    /* border-bottom-color: #00cc00 !important; */
    display: none;
}
.tooltip.bs-tooltip-top .arrow:before {
    /* border-top-color: #00cc00 !important; */
    display: none;
}

.dropdown-divider {
  border-top: 1px solid rgba(119,136,153,.2);
}

#jumbotron .jumbotron {
  background-image: url("../img/banner.jpg");
  box-sizing: border-box;
  font-style: normal;
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 350px;
  /* margin-top: -55px; */
  z-index: 1 !important;
}
